-- CreateEnum
CREATE TYPE "AgentInspectionStatus" AS ENUM ('IN_PROGRESS', 'COMPLETED');

-- CreateTable
CREATE TABLE "AgentOrderInspection" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "agentId" INTEGER NOT NULL,
    "vendorId" INTEGER NOT NULL,
    "status" "AgentInspectionStatus" NOT NULL DEFAULT 'IN_PROGRESS',
    "productId" INTEGER NOT NULL,
    "variantId" INTEGER NOT NULL,
    "answers" JSONB,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AgentOrderInspection_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "AgentOrderInspection_orderId_key" ON "AgentOrderInspection"("orderId");

-- CreateIndex
CREATE INDEX "AgentOrderInspection_agentId_status_updatedAt_idx" ON "AgentOrderInspection"("agentId", "status", "updatedAt");

-- CreateIndex
CREATE INDEX "AgentOrderInspection_vendorId_status_updatedAt_idx" ON "AgentOrderInspection"("vendorId", "status", "updatedAt");

-- CreateIndex
CREATE INDEX "AgentOrderInspection_status_updatedAt_idx" ON "AgentOrderInspection"("status", "updatedAt");

-- AddForeignKey
ALTER TABLE "AgentOrderInspection" ADD CONSTRAINT "AgentOrderInspection_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "SellOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AgentOrderInspection" ADD CONSTRAINT "AgentOrderInspection_agentId_fkey" FOREIGN KEY ("agentId") REFERENCES "Agent"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

