-- CreateEnum
CREATE TYPE "VendorApplicationStatus" AS ENUM ('PENDING', 'UNDER_REVIEW', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "VendorUserStatus" AS ENUM ('PENDING_ACTIVATION', 'ACTIVE', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "VendorRole" AS ENUM ('OWNER', 'MANAGER', 'OPERATIONS');

-- CreateEnum
CREATE TYPE "VendorAuthTokenType" AS ENUM ('ACTIVATION', 'PASSWORD_RESET');

-- CreateTable
CREATE TABLE "VendorApplication" (
    "id" TEXT NOT NULL,
    "businessName" TEXT NOT NULL,
    "contactName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "normalizedEmail" TEXT NOT NULL,
    "mobile" TEXT NOT NULL,
    "normalizedMobile" TEXT NOT NULL,
    "emailVerifiedAt" TIMESTAMP(3) NOT NULL,
    "panEncrypted" TEXT,
    "panFingerprint" TEXT,
    "panLast4" TEXT,
    "status" "VendorApplicationStatus" NOT NULL DEFAULT 'PENDING',
    "rejectionReason" TEXT,
    "approvedVendorId" INTEGER,
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorApplication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorEmailOtp" (
    "id" TEXT NOT NULL,
    "emailNormalized" TEXT NOT NULL,
    "otpHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "verifiedAt" TIMESTAMP(3),
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VendorEmailOtp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorUser" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "normalizedEmail" TEXT NOT NULL,
    "passwordHash" TEXT,
    "status" "VendorUserStatus" NOT NULL DEFAULT 'PENDING_ACTIVATION',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorUser_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorMembership" (
    "id" SERIAL NOT NULL,
    "vendorId" INTEGER NOT NULL,
    "userId" TEXT NOT NULL,
    "role" "VendorRole" NOT NULL DEFAULT 'OWNER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VendorMembership_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorAuthToken" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "VendorAuthTokenType" NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "usedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VendorAuthToken_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "VendorApplication_approvedVendorId_key" ON "VendorApplication"("approvedVendorId");

-- CreateIndex
CREATE INDEX "VendorApplication_normalizedEmail_status_idx" ON "VendorApplication"("normalizedEmail", "status");

-- CreateIndex
CREATE INDEX "VendorApplication_normalizedMobile_status_idx" ON "VendorApplication"("normalizedMobile", "status");

-- CreateIndex
CREATE INDEX "VendorApplication_panFingerprint_idx" ON "VendorApplication"("panFingerprint");

-- CreateIndex
CREATE INDEX "VendorApplication_status_createdAt_idx" ON "VendorApplication"("status", "createdAt");

-- CreateIndex
CREATE INDEX "VendorEmailOtp_emailNormalized_createdAt_idx" ON "VendorEmailOtp"("emailNormalized", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "VendorUser_normalizedEmail_key" ON "VendorUser"("normalizedEmail");

-- CreateIndex
CREATE INDEX "VendorUser_status_idx" ON "VendorUser"("status");

-- CreateIndex
CREATE INDEX "VendorMembership_userId_idx" ON "VendorMembership"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "VendorMembership_vendorId_userId_key" ON "VendorMembership"("vendorId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "VendorAuthToken_tokenHash_key" ON "VendorAuthToken"("tokenHash");

-- CreateIndex
CREATE INDEX "VendorAuthToken_userId_type_idx" ON "VendorAuthToken"("userId", "type");

-- AddForeignKey
ALTER TABLE "VendorApplication" ADD CONSTRAINT "VendorApplication_approvedVendorId_fkey" FOREIGN KEY ("approvedVendorId") REFERENCES "Vendor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorMembership" ADD CONSTRAINT "VendorMembership_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorMembership" ADD CONSTRAINT "VendorMembership_userId_fkey" FOREIGN KEY ("userId") REFERENCES "VendorUser"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorAuthToken" ADD CONSTRAINT "VendorAuthToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "VendorUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

