-- CreateEnum
CREATE TYPE "VendorEmailOtpPurpose" AS ENUM ('SIGNUP', 'PASSWORD_RESET');

-- AlterTable
ALTER TABLE "VendorEmailOtp" ADD COLUMN     "purpose" "VendorEmailOtpPurpose" NOT NULL DEFAULT 'SIGNUP';

-- CreateTable
CREATE TABLE "VendorSession" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "vendorId" INTEGER NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "revokedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VendorSession_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "VendorSession_tokenHash_key" ON "VendorSession"("tokenHash");

-- CreateIndex
CREATE INDEX "VendorSession_userId_revokedAt_idx" ON "VendorSession"("userId", "revokedAt");

-- CreateIndex
CREATE INDEX "VendorSession_vendorId_revokedAt_idx" ON "VendorSession"("vendorId", "revokedAt");

-- CreateIndex
CREATE INDEX "VendorSession_expiresAt_idx" ON "VendorSession"("expiresAt");

-- AddForeignKey
ALTER TABLE "VendorSession" ADD CONSTRAINT "VendorSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "VendorUser"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorSession" ADD CONSTRAINT "VendorSession_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

